## Ordinal Encoding

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("customer.csv")

In [4]:
df.sample(5)

    age  gender   review education purchased
42   30  Female     Good        PG       Yes
34   86    Male  Average    School        No
2    70  Female     Good        PG        No
10   98  Female     Good        UG       Yes
4    16  Female  Average        UG        No

Here</br>
Age - Nig this is not categorical data, its numerical</br>
Gender - No order ergo Nominal</br>
Review - Has order ergo Ordinal</br>
Education - Has order ergo Ordinal</br>
Purchased - Has order ergo Ordinal
</br></br>
We are doing ordinal encoding in this file so consider Review, Education and Purchased columns. But note we will be doing <u>ordinal encoding in Review and Educated</u> ***but*** <u>Label encoding in Purchased column</u>

In [5]:
# df = pd.read_csv("customer.csv", usecols=[2, 3, 4])
# df.head()
df = df.iloc[:, 2:]
# [left, right] left part decides how many rows you want, and right part tells how many cols you want
# so df.iloc[2:5, 1:3] will give me rows 2 to 4 with columns 1 to 2

df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

Train test split

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:, :2],
                                                    df.iloc[:, [2]],
                                                    test_size=0.2)
X_train.head()

     review education
1      Poor        UG
11     Good        UG
30  Average        UG
48     Good        UG
38     Good    School

In [7]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(categories=[["Poor", "Average", "Good"], ["School", "UG", "PG"]])

oe.fit(X_train)
X_train_encoded = oe.transform(X_train)
X_test_encoded = oe.transform(X_test)

In [8]:
# Now converting the resultant numpy array
X_train_encoded = pd.DataFrame(X_train_encoded, columns=X_train.columns)
X_train_encoded.head()

   review  education
0     0.0        1.0
1     2.0        1.0
2     2.0        1.0
3     2.0        2.0
4     1.0        1.0

In [9]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

# Label Encoding
Only used to encode target values i.e y and not input x
Here column Purchased which we have already seperated to y_train and y_test

In [21]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

le.fit(y_train)

y_train_encoded = le.transform(y_train)
y_test_encoded = le.transform(y_test)

In [ ]:
le.classes_  # same as oe.categories_

array(['No', 'Yes'], dtype=object)

In [32]:
y_train_encoded = pd.DataFrame(y_train_encoded, columns=y_train.columns)
y_train_encoded.head()

   purchased
0          0
1          1
2          0
3          0
4          0